/*
	RESET
*/

* { margin: 0; padding: 0; }

html, body {
	height: 100%;
}

body {
	font: 12px 'Lucida Sans Unicode', 'Trebuchet MS', Arial, Helvetica;
	background-color: #d9dee2;
	background-image: url('static/images/crossword.png');
}

/* body { font: 14px/1.1 Helvetica, Sans-Serif;} */
.clear { clear: both; }
img, a img { border: none; }
/* input { outline: none; } */

/*
	STRUCTURE
*/

/* body { font: 14px/1.1 Helvetica, Sans-Serif;  } */
#page-wrap { width: 1000px; margin: 6px auto 50px 200px; }
hr { height: 1px; background: #ccc; clear: both; margin: 20px 0; none; display: block; }
span.tab { padding: 0 30px; }
.leftalign {text-align: left; width: 1000px; }
.rightalign {text-align: right; width: 1000px; }
.centeralign {text-align: center; width: 1000px; }
.centered {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -90px;
	margin-left: -150px;
	height: 180px;
	width: 300px;
}

/*
	TYPOGRAPHY
*/
/* h2 { font: bold 36px Helvetica, Sans-Serif; margin: 0 0 8px 0; } */
h2, h3, p { color: #080424; margin: 0 0 10px 0; font-family: New Century Schoolbook; }
p { margin: 0 0 6px 0; }
.red { background: red; color: white; font-size: 12px; padding: 3px; }
.button1 { display: block; width: 230px;  height: 25px; background: #4E9CAF; padding: 10px; text-align: center; border-radius: 5px; color: white; font-weight: bold; }
.bordered { border-style: groove; border-width: 5px; }

/*
    HEADER
*/
#header { height: 68px; position: relative; }
#header h1 a { position: absolute;  top: 0; left: 0; text-decoration: none; color: #2E1256; font-family: Cambria;  }
/* #header h1 a {   border: none;  } */
#control { width: 500px; float: right; padding: 10px 237px 0 0; text-align: right; } 


/*
    FORM STUFF
*/
label { display: inline-block; width: 25px;  text-align: right; font-weight: bold; color: #3D5266; } 
/*input, select { margin-left: 60px;  }    */

/*
    MESSAGING
*/
.message { padding: 10px; margin: 0 0 10px 0; width: 607px;}
.good { background: #9ff5b6; font-weight: bold; }
.error { color: #ef0040; }

/* ------------------------- BUTTONS -------------------------------------------------- */
.button {
	background-color: #ffb94b;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#fddb6f), to(#ffb94b));
    background-image: -webkit-linear-gradient(top, #fddb6f, #ffb94b);
    background-image: -moz-linear-gradient(top, #fddb6f, #ffb94b);
    background-image: -ms-linear-gradient(top, #fddb6f, #ffb94b);
    background-image: -o-linear-gradient(top, #fddb6f, #ffb94b);
	background-image: linear-gradient(top, #fddb6f, #ffb94b);
	-moz-border-radius: 3px;
    -webkit-border-radius: 3px;
	border-radius: 3px;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	-moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
    -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
	box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
	border-width: 1px;
	border-style: solid;
	border-color: #d69e31 #e3a037 #d5982d #e3a037;
	height: 35px;
	padding: 0;
	width: 120px;
	cursor: pointer;
	font: bold 15px Arial, Helvetica;
	color: #8f5a0a;
}

.button:hover,
.button:focus {
	background-color: #fddb6f;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ffb94b), to(#fddb6f));
    background-image: -webkit-linear-gradient(top, #ffb94b, #fddb6f);
    background-image: -moz-linear-gradient(top, #ffb94b, #fddb6f);
    background-image: -ms-linear-gradient(top, #ffb94b, #fddb6f);
    background-image: -o-linear-gradient(top, #ffb94b, #fddb6f);
	background-image: linear-gradient(top, #ffb94b, #fddb6f);
}

.button:active {
	outline: none;
	-moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
}

.button::-moz-focus-inner {
	border: none;
}

/* ----------------------- TABLE STYLING ------------------------------- */
.table a:link {
	color: #666;
	font-weight: bold;
	text-decoration:none;
}
.table a:visited {
	color: #999999;
	font-weight:bold;
	text-decoration:none;
}
.table a:active,
.table a:hover {
	color: #bd5a35;
	text-decoration:underline;
}
.table {
	font-family:Arial, Helvetica, sans-serif;
	color:#666;
	font-size:12px;
	text-shadow: 1px 1px 0px #fff;
	background:#eaebec;
	margin:20px;
	border:#ccc 1px solid;

	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;

	-moz-box-shadow: 0 1px 2px #d1d1d1;
	-webkit-box-shadow: 0 1px 2px #d1d1d1;
	box-shadow: 0 1px 2px #d1d1d1;
	border-collapse: collapse;
}
.table th {
	padding:21px 25px 22px 25px;
	border-top:1px solid #fafafa;
	border-bottom:1px solid #e0e0e0;

	background: #ededed;
	background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#ebebeb));
	background: -moz-linear-gradient(top,  #ededed,  #ebebeb);
}
.table th:first-child {
	text-align: left;
	padding-left:20px;
}
.table tr:first-child th:first-child {
	-moz-border-radius-topleft:3px;
	-webkit-border-top-left-radius:3px;
	border-top-left-radius:3px;
}
.table tr:first-child th:last-child {
	-moz-border-radius-topright:3px;
	-webkit-border-top-right-radius:3px;
	border-top-right-radius:3px;
}
.table tr {
	text-align: center;
	padding-left:20px;
}
.table td:first-child {
	text-align: left;
	padding-left:20px;
	border-left: 0;
}
.table td {
	padding:18px;
	border-top: 1px solid #ffffff;
	border-bottom:1px solid #e0e0e0;
	border-left: 1px solid #e0e0e0;

	background: #fafafa;
	background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#fafafa));
	background: -moz-linear-gradient(top,  #fbfbfb,  #fafafa);
}
.table tr.even td {
	background: #f6f6f6;
	background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f6f6f6));
	background: -moz-linear-gradient(top,  #f8f8f8,  #f6f6f6);
}
.table tr:last-child td {
	border-bottom:0;
}
.table tr:last-child td:first-child {
	-moz-border-radius-bottomleft:3px;
	-webkit-border-bottom-left-radius:3px;
	border-bottom-left-radius:3px;
}
.table tr:last-child td:last-child {
	-moz-border-radius-bottomright:3px;
	-webkit-border-bottom-right-radius:3px;
	border-bottom-right-radius:3px;
}
.table tr:hover td {
	background: #f2f2f2;
	background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#f0f0f0));
	background: -moz-linear-gradient(top,  #f2f2f2,  #f0f0f0);	
}

/*
 * LOGIN
 */
#login-form {
	background-color: #fff;
	 background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#eee));
    background-image: -webkit-linear-gradient(top, #fff, #eee);
    background-image: -moz-linear-gradient(top, #fff, #eee);
    background-image: -ms-linear-gradient(top, #fff, #eee);
    background-image: -o-linear-gradient(top, #fff, #eee);
	background-image: linear-gradient(top, #fff, #eee);
	height: 240px;
	width: 400px;
	margin: -150px 0 0 -230px;
	padding: 30px;
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 0;
	-moz-border-radius: 3px;
    -webkit-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow:
          0 0 2px rgba(0, 0, 0, 0.2),
          0 1px 1px rgba(0, 0, 0, .2),
          0 3px 0 #fff,
          0 4px 0 rgba(0, 0, 0, .2),
          0 6px 0 #fff,  
          0 7px 0 rgba(0, 0, 0, .2);
    -moz-box-shadow:
          0 0 2px rgba(0, 0, 0, 0.2),  
          1px 1px   0 rgba(0,   0,   0,   .1),
          3px 3px   0 rgba(255, 255, 255, 1),
          4px 4px   0 rgba(0,   0,   0,   .1),
          6px 6px   0 rgba(255, 255, 255, 1),  
          7px 7px   0 rgba(0,   0,   0,   .1);
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.2),
				0 1px 1px rgba(0, 0, 0, 0.2),
				0 3px 0 #fff,
				0 4px 0 rgba(0, 0, 0, 0.2),
				0 6px 0 #fff,
				0 7px 0 rgba(0, 0, 0, 0.2);
}

#login-form:before {
	content: '';
	position: absolute;
	z-index: -1;
	border: 1px dashed #ccc;
	top: 5px;
	bottom: 5px;
	left: 5px;
	right: 5px;
	-moz-box-shadow: 0 0 0 1px #fff;
    -webkit-box-shadow: 0 0 0 1px #fff;
	box-shadow: 0 0 0 1px #fff;
}

#login-form h1 {
	text-shadow: 0 1px 0 rgba(255, 255, 255, .7), 0px 2px 0 rgba(0, 0, 0, .5);
	text-transform: uppercase;
	text-align: center;
	color: #666;
	margin: 0 0 30px 0;
	letter-spacing: 4px;
	font: normal 26px/1 Verdana, Helvetica;
	position: relative;
}

#login-form h1:after,
#login-form h1:before {
	background-color: #777;
	content: "";
	height: 1px;
	position: absolute;
	top: 15px;
	width: 120px;
}

#login-form h1:after {
	background-image: -webkit-gradient(linear, left top, right top, from(#777), to(#fff));
    background-image: -webkit-linear-gradient(left, #777, #fff);
    background-image: -moz-linear-gradient(left, #777, #fff);
    background-image: -ms-linear-gradient(left, #777, #fff);
    background-image: -o-linear-gradient(left, #777, #fff);
	background-image: linear-gradient(left, #777, #fff);
	right: 0;
}

#login-form h1:before {
	background-image: -webkit-gradient(linear, right top, left top, from(#777), to(#fff));
    background-image: -webkit-linear-gradient(right, #777, #fff);
    background-image: -moz-linear-gradient(right, #777, #fff);
    background-image: -ms-linear-gradient(right, #777, #fff);
    background-image: -o-linear-gradient(right, #777, #fff);
	background-image: linear-gradient(right, #777, #fff);
	left: 0;
}

#login-form fieldset {
	border: 0;
	padding: 0;
	margin: 0;
}

#login-form #inputs input {
	padding: 15px 15px 15px 30px;
	margin: 0 0 10px 0;
	width: 353px;
	border: 1px solid #ccc;
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: 0 1px 1px #ccc inset, 0 1px 0 #fff;
    -webkit-box-shadow: 0 1px 1px #ccc inset, 0 1px 0 #fff;
	box-shadow: 0 1px 1px #ccc inset, 0 1px 0 #fff;
}

#login-form #inputs input:focus {
	background-color: #fff;
	border-color: #e8c291;
	outline: none;
	-moz-box-shadow: 0 0 0 1px #e8c291 inset;
    -webkit-box-shadow: 0 0 0 1px #e8c291 inset;
	box-shadow: 0 0 0 1px #e8c291 inset;
}

#login-form #actions {
	margin: 25px 0 0 0;
}

#login-form .button {
	float: left;
}

#login-form #actions a {
	color: #3151A2;
	float: right;
	line-height: 35px;
	margin-left: 10px;
}

.field {
	position: relative;
}

.field i {
	left: 0px;
	position: absolute;
	width: 36px;
	color: #777777;
    text-align: center;
    line-height: 48px;
}


/* ---------------- index page ------------------- */


#create-qp-form .actions {
	position: relative;
}

#create-qp-form .button {
	width: 130px;
	margin-left: 670px;
}

#create-qp-form .actions i {
	margin-left: 670px;
	left: 0px;
	position: absolute;
	width: 28px;
	color: #bd7504;
    text-align: center;
    line-height: 37px;
}

/* ---------------------- View paper ---------------- */
#generateForm {
	position: relative;
	top: -1430px;
	margin-bottom: 80px;
}

#generateForm .button {
	margin-right: 40px;
	float: right;
}

#qp-content {
	position: relative;
	bottom: -100px;
}
