/*
	RESET
*/

* { margin: 0; padding: 0; }
body { font: 14px/1.1 Helvetica, Sans-Serif;}
.clear { clear: both; }
img, a img { border: none; }
/* input { outline: none; } */

/*
	STRUCTURE
*/

body { font: 14px/1.1 Helvetica, Sans-Serif;  }
#page-wrap { width: 960px; margin: 6px auto 50px; position: relative; }
hr { height: 1px; background: #ccc; clear: both; margin: 20px 0; none; display: block; }
span.tab { padding: 0 30px; }

/*
	TYPOGRAPHY
*/
.button { text-decoration: none; color: #375c81; background-color: #A7C9EC; font-weight: bold; font-size: 30; outline: 1px solid #2A547E; display: inline-block; width: 75px; text-align: center; }
/* h2 { font: bold 36px Helvetica, Sans-Serif; margin: 0 0 8px 0; } */
h2 { color: #2D164B; margin: 0 0 10px 0; font-family: New Century Schoolbook; }
p { margin: 0 0 6px 0; }
.red { background: red; color: white; font-size: 12px; padding: 3px; }
.button1 { display: block; width: 230px;  height: 25px; background: #4E9CAF; padding: 10px; text-align: center; border-radius: 5px; color: white; font-weight: bold; }

/*
    HEADER
*/
#header { height: 68px; position: relative; }
#header h1 a { position: absolute;  top: 0; left: 0; text-decoration: none; color: #2E1256; font-family: Cambria;  }
/* #header h1 a {   border: none;  } */
#control { width: 500px; float: right; padding: 10px 237px 0 0; text-align: right; } 


/*
    FORM STUFF
*/
label { display: inline-block; width: 20px;  text-align: right; font-weight: bold; color: #3D5266; } 
input, select { margin-left: 60px;  }     

/*
    MESSAGING
*/
.message { padding: 10px; margin: 0 0 10px 0; width: 607px;}
.good { background: #9ff5b6; font-weight: bold; }
.error { color: #ef0040; }

